<div class="slider">
  <div class="slide">
    <div class="slide_bg">
      <img src="https://image.tmdb.org/t/p/w500/vZloFAK7NmvMGKE7VkF5UHaz0I.jpg" alt="">
    </div>
    <div class="slide-pane">
      <h2>John Wick: Chapter 4</h2>
      <div class="meta">
        <div class="info">
          <span class="rating">
            <span>star</span>
            <span class="rating-value">7.5</span>
            <span>/10</span>
            <span>463 Reviews</span>
            <span>2023</span>
          </span>
        </div>
        <div class="desc">
          With the price on his head ever increasing, John Wick uncovers a path to defeating The High Table. But before he can earn his freedom, Wick must face off against a new enemy with powerful alliances across the globe and forces that turn old friends into foes.
        </div>
      </div>
    </div>
  </div>
</div>
